html,
body {
  height: 100%;
}

a {
  color: #ffc107 !important;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-select {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-body-secondary {
  font-size: x-small;
}

button[type="submit"] {
  margin-top: 14px;
}

.form-control:focus,.form-select:focus {
  border: 0.5px solid #ffc107 !important; 
  outline: 1px solid #ffc107 !important; 
  box-shadow: 0 0 7px #ffc107 !important; 
}

.msg{
  background-color: #443627;
  color: rgb(175, 175, 175);
}
